# __APP_NAME__

Generated with `bazel-gen` using template `java/console`.

## Requirements

- Bazel 7+ (or Bazelisk)

## Run

```bash
bazel run //:app
```

## Generated Config

- Java version: `__OPT_JAVA_VERSION__`
- rules_java version: `__OPT_RULES_JAVA_VERSION__`
- Package: `__PACKAGE__`
